@use "./mixins";

$dark_1: #1b262c;
$dark_2: #24272f;
$dark_3: #222831;

$dark_4: #393e46;
$dark_5: #212121;

$white_1: #fafafa;
$white_2: #f8f5f5;
$white_3: #e9e9e9;
$white_4: #f0f0f0;

$blue_light_1: #3282b8;
$blue_light_1_light: #4b85ac;
$blue_strong_1: #0f4c75;
$blue_strong_1_light: #265270;

$blue_light_2: #01a0f60f;
$blue_strong_2: #053f5e;

$red_item_1: #af0404;
$red_item_1_light: #a92727;
$red_item_2: #c32a1ffd;
$red_item_2_light: #ae3e36;
$yellow_item_1: #ffbb5a;
$yellow_item_1_light: #ffcb82;
$yellow_item_2: #ffeb3b;
$yellow_item_2_light: #ffef5b;
$pink_item_1: #fe6f9b;
$pink_item_1_light: #ff88ac;
$purple_item_1: #7d50b9;
$purple_item_1_light: #8c6db5;
$green_item_1: #52c32c;
$green_item_1_light: #6dc152;
$blue_item: #4242d6;
$blue_item_light: #6464d8;
$blue_item_1: #bbe1fa;
$blue_item_1_light: #cce9fd;
$orange_1: #e8a11d;
$orange_1_light: #e7b353;
$orange_2: #ffc107;
$orange_2_light: #fecf45;

// Colors For Website Elements
// Wraped Into (Class Name, Background Color, Color)
$matiral_colors: (
  "dark-1" $dark_1 $white_1,
  "dark-2" $dark_2 $white_2,
  "dark-3" $dark_3 $white_3,
  "dark-4" $dark_4 $white_3,
  "white-1" $white_1 $dark_5,
  "white-2" $white_2 $dark_2,
  "white-3" $white_3 $dark_1,
  "white-4" $white_4 $dark_3
);

// Color For Items
// Wraped Into (Class Name, Background Color, Color)
$items_colors: (
  "blue-item-1" $blue_light_1 $dark_1,
  "blue-item-1-light" $blue_light_1_light $dark_1,

  "blue-item-2" $blue_strong_1 $white_1,
  "blue-item-2-light" $blue_strong_1_light $white_1,

  "blue-item-3" $blue_item_1 $dark_1,
  "blue-item-3-light" $blue_item_1_light $dark_1,

  "red-item-1" $red_item_1 $white_1,
  "red-item-1-light" $red_item_1_light $white_1,

  "red-item-2" $red_item_2 $white_1,
  "red-item-2-light" $red_item_2_light $white_1,

  "orange-item-1" $orange_1 $white_1,
  "orange-item-1-light" $orange_1_light $white_1,

  "orange-item-2" $orange_2 $white_1,
  "orange-item-2-light" $orange_2_light $white_1,

  "yellow-item-1" $yellow_item_1 $dark_1,
  "yellow-item-1-light" $yellow_item_1_light $dark_1,

  "yellow-item-2" $yellow_item_2 $dark_1,
  "yellow-item-2-light" $yellow_item_2_light $dark_1,

  "pink-item-1" $pink_item_1 $white_2,
  "pink-item-1-light" $pink_item_1_light $white_2,

  "purple-item-1" $purple_item_1 $white_1,
  "purple-item-1-light" $purple_item_1_light $white_1,

  "green-item-1" $green_item_1$white_2,
  "green-item-1-light" $green_item_1_light $white_2
);

@include mixins.generate_color_classes($matiral_colors);
@include mixins.generate_color_classes($items_colors);
