@mixin media($query, $min_width: 0, $max_width: 0) {
  @if ($query == "tiny") {
    @media only screen and (max-width: 575.98px) {
      @content;
    }
  } @else if($query == "small") {
    @media only screen and (min-width: 576px) and (max-width: 767.98px) {
      @content;
    }
  } @else if($query == "medium") {
    @media only screen and (min-width: 768px) and (max-width: 991.98px) {
      @content;
    }
  } @else if($query == "large") {
    @media only screen and (min-width: 992px) and (max-width: 1199.98px) {
      @content;
    }
  } @else if($query == "extraLarge") {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  } @else if($min_width != 0 and $max_width !=0) {
    @if ($max_width != 0 and $min_width == 0) {
      @media (max-width: $max_width) {
        @content;
      }
    } @else if($max_width == 0 and $min_width != 0) {
      @media (min-width: $min_width) {
        @content;
      }
    } @else {
      @media (min-width: $min_width) and (max-width: $max_width) {
        @content;
      }
    }
  } @else {
    @error "#{$query} must be either tiny, small, medium or large";
  }
}

@mixin generate_grid_system($columns_number) {
  $names: (
    "tiny" "ty",
    "small" "sm",
    "medium" "md",
    "large" "lg",
    "extraLarge" "xl",
    "" ""
  );
  @each $query, $name in $names {
    @for $i from 1 through $columns_number {
      @if ($name == "") {
        .col-#{$i} {
          flex-basis: percentage(calc($i / $columns_number));
        }
      } @else {
        @include media($query) {
          .col-#{$name}-#{$i} {
            flex-basis: percentage(calc($i / $columns_number)) !important;
          }
        }
      }
    }
  }
}

@mixin generate_color_classes($colors_arr) {
  @each $name, $background, $color in $colors_arr {
    .#{$name} {
      background-color: $background !important;
      color: $color !important;
    }
  }
}

@mixin generate_font_colors($colors_arr) {
  @each $name, $color in $colors_arr {
    .#{$name} {
      color: $color !important;
    }
  }
}

@mixin generate_padding($sizes) {
  $names: ("t", "b", "r", "l", "x", "y", "");
  @each $name in $names {
    @if ($name == "") {
      @for $i from 1 through $sizes {
        .pd-#{$i} {
          padding: #{$i}rem !important;
        }
      }
    } @else if ($name == "t") {
      @for $i from 1 through $sizes {
        .pd-#{$name}-#{$i} {
          padding-top: #{$i}rem !important;
        }
      }
    } @else if ($name == "b") {
      @for $i from 1 through $sizes {
        .pd-#{$name}-#{$i} {
          padding-bottom: #{$i}rem !important;
        }
      }
    } @else if($name == "r") {
      @for $i from 1 through $sizes {
        .pd-#{$name}-#{$i} {
          padding-right: #{$i}rem !important;
        }
      }
    } @else if($name == "l") {
      @for $i from 1 through $sizes {
        .pd-#{$name}-#{$i} {
          padding-left: #{$i}rem !important;
        }
      }
    } @else if($name == "x") {
      @for $i from 1 through $sizes {
        .pd-#{$name}-#{$i} {
          padding-right: #{$i}rem !important;
          padding-left: #{$i}rem !important;
        }
      }
    } @else if($name == "y") {
      @for $i from 1 through $sizes {
        .pd-#{$name}-#{$i} {
          padding-top: #{$i}rem !important;
          padding-bottom: #{$i}rem !important;
        }
      }
    }
  }
}

@mixin generate_margin($sizes) {
  $names: ("t", "b", "r", "l", "x", "y", "");
  @each $name in $names {
    @if ($name == "") {
      @for $i from 1 through $sizes {
        .mr-#{$i} {
          margin: #{$i}rem !important;
        }
      }
    } @else if ($name == "t") {
      @for $i from 1 through $sizes {
        .mr-#{$name}-#{$i} {
          margin-top: #{$i}rem !important;
        }
      }
    } @else if ($name == "b") {
      @for $i from 1 through $sizes {
        .mr-#{$name}-#{$i} {
          margin-bottom: #{$i}rem !important;
        }
      }
    } @else if($name == "r") {
      @for $i from 1 through $sizes {
        .mr-#{$name}-#{$i} {
          margin-right: #{$i}rem !important;
        }
      }
    } @else if($name == "l") {
      @for $i from 1 through $sizes {
        .mr-#{$name}-#{$i} {
          margin-left: #{$i}rem !important;
        }
      }
    } @else if($name == "x") {
      @for $i from 1 through $sizes {
        .mr-#{$name}-#{$i} {
          margin-right: #{$i}rem !important;
          margin-left: #{$i}rem !important;
        }
      }
    } @else if($name == "y") {
      @for $i from 1 through $sizes {
        .mr-#{$name}-#{$i} {
          margin-top: #{$i}rem !important;
          margin-bottom: #{$i}rem !important;
        }
      }
    }
  }
}

@mixin generate_radius($sizes) {
  $names: ("tx", "tl", "tr", "bx", "bl", "br", "ly", "ry", "cl", "cr", "");
  @each $name in $names {
    @if ($name == "") {
      @for $i from 1 through $sizes {
        .radius-#{$i} {
          border-radius: $i * 10px;
        }
      }
    } @else if($name == "tx") {
      @for $i from 1 through $sizes {
        .radius-#{$name}-#{$i} {
          border-top-right-radius: $i * 10px;
          border-top-left-radius: $i * 10px;
        }
      }
    } @else if($name == "tl") {
      @for $i from 1 through $sizes {
        .radius-#{$name}-#{$i} {
          border-top-left-radius: $i * 10px;
        }
      }
    } @else if($name == "tr") {
      @for $i from 1 through $sizes {
        .radius-#{$name}-#{$i} {
          border-top-right-radius: $i * 10px;
        }
      }
    } @else if($name == "bx") {
      @for $i from 1 through $sizes {
        .radius-#{$name}-#{$i} {
          border-bottom-right-radius: $i * 10px;
          border-bottom-left-radius: $i * 10px;
        }
      }
    } @else if($name == "bl") {
      @for $i from 1 through $sizes {
        .radius-#{$name}-#{$i} {
          border-bottom-left-radius: $i * 10px;
        }
      }
    } @else if ($name == "br") {
      @for $i from 1 through $sizes {
        .radius-#{$name}-#{$i} {
          border-bottom-right-radius: $i * 10px;
        }
      }
    } @else if($name == "ly") {
      @for $i from 1 through $sizes {
        .radius-#{$name}-#{$i} {
          border-top-left-radius: $i * 10px;
          border-bottom-left-radius: $i * 10px;
        }
      }
    } @else if($name == "ry") {
      @for $i from 1 through $sizes {
        .radius-#{$name}-#{$i} {
          border-top-right-radius: $i * 10px;
          border-bottom-right-radius: $i * 10px;
        }
      }
    } @else if($name == "cl") {
      @for $i from 1 through $sizes {
        .radius-#{$name}-#{$i} {
          border-top-left-radius: $i * 10px;
          border-bottom-right-radius: $i * 10px;
        }
      }
    } @else if($name == "cr") {
      @for $i from 1 through $sizes {
        .radius-#{$name}-#{$i} {
          border-top-right-radius: $i * 10px;
          border-bottom-left-radius: $i * 10px;
        }
      }
    }
  }
}
