@use "../utilities/colors";

%btn {
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
}

%center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%main-transition {
  transition-duration: 0.5s;
  transition-property: background-color, color, border-color;
}

%sodo {
  content: "";
  position: absolute;
  background-color: colors.$blue_light_1;
  transition-duration: 0.5s;
  transition-property: width, height;
}

%h1-sodo-price {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: colors.$blue_light_1;
  transition-duration: 0.3s;
  transition-property: left, right, width, height;
  z-index: -1;
}

%input {
  border: none;
  padding: 0.2rem;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  border: 1px solid colors.$blue_light_1;
  transition: 0.5s box-shadow, color;
  &:focus,
  &:target {
    outline: none;
    box-shadow: 0px 0px 9px colors.$blue_light_1;
  }
}
