@use "../utilities/colors";
@use "../utilities/mixins";
@use "../utilities/placeHolders";

.about {
  position: relative;

  // Main
  &-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;

    h2 {
      color: colors.$blue_light_1;
    }
  }

  // The Customers Container
  &-customers {
    @extend %main-transition;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 300px;
    padding: 25px 0px;

    // Arrows
    .arrow {
      position: absolute;
      padding: 0px 1rem;
      font-size: 1.5rem;
      height: 100%;
      background-color: #00000071;
      color: #fff;
      z-index: 10;
      cursor: pointer;
      transition: 0.5s;
      transition-property: opacity;
      opacity: 1;
      user-select: none;
      @extend %center;
    }

    .right {
      right: 0;
    }

    .left {
      left: 0;
    }
  }

  // To Show The Next Item -> left -166px
  // The Profiles Container
  // Slider Conetnt
  &-profiles {
    position: absolute;
    left: 0;
    display: flex;
    column-gap: 1rem;
    transition-duration: 0.5s;
    transition-property: left;
  }

  // The Profile
  .profile {
    @extend %main-transition;
    height: 250px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;

    &-header {
      flex-basis: calc(25% - 10px);
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 0.7rem;
      color: colors.$blue_light_1;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: colors.$dark_1;
      }

      div {
        display: flex;
        flex-direction: column;
        row-gap: 0.2rem;
      }
    }

    &-body {
      flex-basis: calc(75% - 10px);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      p {
        padding: 0px 5px;
        height: 120px;
        overflow: auto;
      }
    }
  }
}

@include mixins.media("tiny") {
  .about {
    // The Profiles Container
    &-customers {
      width: 150px !important;
    }
  }
}
