@use "../utilities/placeHolders";
@use "../utilities/colors";
@use "../utilities/mixins";

.home {
  position: relative;

  // Main Content
  &-main {
    row-gap: 2rem;

    // The Section
    &-section {
      img {
        filter: contrast(0.5);
        width: 100%;
        height: 100%;
      }

      h1 {
        text-align: center;
        color: colors.$blue_light_1;
      }

      .text {
        font-size: 1.1rem;
        line-height: 1.5;
        position: relative;

        &::before {
          @extend %sodo;
          height: 1px;
          top: 1rem;
          left: 0;
          width: 0;
        }

        &::after {
          @extend %sodo;
          height: 1px;
          bottom: 1rem;
          right: 0;
          width: 0;
        }

        &:hover::before,
        &:hover::after {
          width: 100%;
        }
      }
    }
  }

  // Start App Button
  .btn {
    @extend %btn;
    @extend %main-transition;
    font-size: 1.4rem;
    margin: 0px auto;
    background-color: colors.$blue_strong_1;
    color: colors.$white_2;
    &:hover {
      background-color: colors.$blue_light_1;
    }
  }
}

@include mixins.media("tiny") {
  .home {
    &-main {
      row-gap: 2rem;
      &-section {
        padding-left: 0px !important;
        padding-right: 0px !important;
        img {
          border-radius: 0 !important;
        }
        div {
          flex-basis: 100% !important;
        }
        .text {
          order: -1;
        }
      }
    }
  }
}
