.notFound {

  .inner {
    min-height: calc(100vh - 91px);
    padding: 2rem 0rem 0rem;

    h1 {
      padding: 0 1rem;
      width: fit-content;
      margin: 0px auto;
      font-size: 2rem;
      letter-spacing: 2px;
      span {
        text-decoration: underline;
      }
    }
  }
}